@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Caveat:wght@700&display=swap');

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.list-heading {
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: 'Caveat', cursive;


}

.hat-card-img {
    height: 19rem;
}


.card-footer{
    background-color: #219ebc;
    width: 100%;
    margin-top: 0.7rem;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.card {
    background-color: #8ecae6;
    box-shadow: 10px 10px 6px 1px rgba(0,0,0,0.22);

}

.card-body {
    text-align: center;
    padding: 0;
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: 2rem;
}

.card-title{
    font-size: 2rem;
}

.card-text{
    font-size: 1.3rem;
    margin-top: 2rem;
}

.delete-btn {
    background-color: red;
    border: 1px solid red;
    font-size: 1.3rem;
    font-family: 'Archivo Narrow', sans-serif;
    height: 2.3rem;
    border-radius: 15px;
    box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.37);
}

.delete-btn:hover {
    background-color: red;
    border: 3px solid white;
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.details-btn {
    font-size: 1.3rem;
    font-family: 'Archivo Narrow', sans-serif;
    border-radius: 15px;
    background-color: #0077b6;
    border: 1px solid #0077b6;
    box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.37);
}

.details-btn:hover{
    background-color: #0077b6;
    border: 3px solid white;
}
