@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500;600&family=Yeseva+One&display=swap');

#card-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
}


#shoe-heading {
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
    font-family: cursive;
    color: rgb(85, 141, 210)
}

#footer {
    background-color: rgb(158, 222, 171);
    width: 100%;
    margin-top: 0.25rem;
    font-family: 'Domine', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

#card {
    background-color: aliceblue;
    box-shadow: 10px 10px 6px 1px rgba(0,0,0,0.22);
}


#card-bod {
    text-align: center;
    padding: 0;
    font-family: 'Domine', sans-serif;
    margin-top: 1.5rem;
}


.table-heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Domine', cursive;
    color: rgb(100, 89, 205);
}
